*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Roboto, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  max-height: 100vh;
  animation: fadeIn 0.4s ease-in;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 0 15px;
  transition: color 0.3s ease;
}

a:hover {
  color: #fbbf24;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  padding: 10px 30px;
  color: white;
  background-color: hwb(199 12% 13%);
  border: 1px solid hwb(199 12% 13%);
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

main {
  display: grid;
  grid-template-columns: 300px 1fr;
}

#show {
  display: none;
}

.sidebar {
  background-color: hwb(199 12% 13%);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr;
  color: white;
  padding: 20px;
  gap: 40px;
  font-weight: 600;
}

.top {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: auto;
}
.top a {
  font-size: 1.5rem;
  align-self: center;
}
.top img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.middle {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 40px);
}

.bottom {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 40px);
}

.container {
  background-color: #eee;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
}

.header {
  background-color: white;
  padding: 10px 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}
.header img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.upper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 60px;
  gap: 50px;
}
.upper .search {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row: inherit;
  gap: 20px;
  align-content: center;
}
.upper .search i {
  align-self: center;
}
.upper .search input {
  background-color: #e2e8f0;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  outline: none;
  padding: 4px;
}
.upper .user-info {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  justify-self: end;
}
.upper .user-info i, .upper .user-info img, .upper .user-info h3 {
  align-self: center;
}
.upper .user-info i, .upper .user-info img {
  cursor: pointer;
}
.upper .user-info i {
  transition: transform 0.2s ease;
  font-size: 1.5rem;
}
.upper .user-info i:hover, .upper .user-info img:hover {
  transform: scale(1.2);
}

.lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.lower .left {
  display: grid;
  grid-template-columns: 90px auto;
  gap: 10px;
  align-items: center;
}
.lower .left img {
  width: 80px;
  height: 80px;
}
.lower .right {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-self: end;
  gap: 20px;
}

.content {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 40px 20px;
}
.content .content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
.content .main-content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.content .main-content article {
  display: grid;
  background-color: #fff;
  padding: 20px;
  border-left: 8px solid #fbbf24;
  border-radius: 8px;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease;
}
.content .main-content article p {
  color: #442626;
}
.content .main-content article div {
  justify-self: end;
}
.content .main-content article div i {
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.content .main-content article div i:hover {
  color: #fbbf24;
}
.content .main-content article:hover {
  box-shadow: 16px 16px 16px rgba(68, 17, 17, 0.5);
  transform: translateY(-10px);
}
.content .others {
  display: grid;
  gap: 10px;
}
.content .others .announcements {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
}
.content .others .announcements p {
  color: #442626;
  margin-bottom: 20px;
}
.content .others .announcements .item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.content .others .trends {
  display: grid;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
}
.content .others .trends article {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 20px;
  background-color: #f7e9e9;
  padding: 10px;
  border-radius: 6px;
}
.content .others .trends img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  align-self: center;
}
.content .others .trends div {
  align-self: center;
}
.content .others .trends div h3, .content .others .trends div p {
  margin: 0;
}

@media (max-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  .header {
    padding: 10px 20px;
  }
  .upper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
  }
  button {
    padding: 8px 15px;
    border-radius: 18px;
  }
  .content {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .content .main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .content .main-content article {
    padding: 15px;
    border-left: 6px solid #fbbf24;
  }
  .content .others {
    display: grid;
    align-self: flex-start;
    gap: 10px;
  }
}
@media (max-width: 520px) {
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 14px;
  }
  .upper .search {
    grid-template-columns: auto auto 1fr;
  }
  .upper .user-info h3 {
    display: none;
  }
  .lower {
    grid-template-columns: 0.7fr 1fr;
    gap: 20px;
  }
  .lower .right {
    justify-self: center;
    gap: 10px;
  }
  button {
    padding: 6px 10px;
    border-radius: 18px;
  }
  #show {
    font-size: 1.5rem;
    display: block;
    transition: transform 0.3s ease;
  }
  #show:hover {
    transform: scale(1.2);
  }
  .sidebar {
    display: none;
  }
  .content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
