	*, *::after, *::before {
		box-sizing: border-box;
	}

	$primary-color:hwb(199 12% 13%);
	$secondary-color: #f7e9e9;
	$third-color: #fbbf24;

	html {
		scroll-behavior: smooth;
		font-family: Roboto, 'Times New Roman', Times, serif;
	}

	body {
		margin: 0;
		max-height: 100vh;
		animation: fadeIn 0.4s ease-in;
	}

	main {
		display: grid;
		grid-template-columns: 300px 1fr;
		border: 1px solid #222;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		padding: 0;
		margin: 0;
	}

	a {
		margin: 0;
		text-decoration: none;
		color: white;
		font-size: 1.2rem;
		padding: 0 15px;
		transition: color 0.3s ease;
	}

	a:hover {
		color: $third-color;
	}

	h1,h2,h3,h4,h5,h6,p {
		margin: 0;
		padding: 0;
	}

	button {
		outline: none;
		padding: 10px 30px;
		color: white;
		background-color: $primary-color;
		border: 1px solid $primary-color;
		border-radius: 20px;
		cursor: pointer;
	}

	button:hover {
		box-shadow: 2px 4px 4px $primary-color;
	}
	
	.sidebar {
		background-color: $primary-color;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto 1fr;
		color: white;
		padding: 20px;
		gap: 40px;
		font-weight: 600;
	}

	.top {
		display: grid;
		grid-template-columns: 60px auto;
		grid-template-rows: auto;

		a {
			font-size: 1.5rem;
			align-self: center;
		}
			
		img {
			height: 60px;
			width: 60px;
			object-fit: cover;
		}
	}

	.middle {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(6, 40px);
	}

	.bottom {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(3, 40px);
	}

	.container {
		background-color: #eee;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto 1fr;
	}

	.header {
		background-color: white;
		padding: 10px 30px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		gap: 20px;

		img {
			width: 50px;
			height: 50px;
			object-fit: cover;			
		}
	}

	.upper {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		grid-template-rows: 60px;
		gap: 50px;

		.search {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-row: inherit;
			gap: 20px;
			align-content: center;
			
			i {
				align-self: center;
			}
			input {
				background-color: #e2e8f0;
				border: 1px solid #e2e8f0;
				border-radius: 10px;
				outline: none;
				padding: 4px;
			}
		}
		
		.user-info {
			display: grid;
			grid-template-columns: auto auto auto;
			gap: 30px;
			justify-self: end;

			i, img, h3 {
				align-self: center;
			}

			i, img {
				cursor: pointer;
			}
			
			i {
				transition: transform 0.2s ease;
				font-size: 1.5rem;
			}
			i:hover, img:hover {
				transform: scale(1.2);
			}
		}
	}

	.lower {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		align-items: center;

		.left {
			display: grid;
			grid-template-columns: 90px auto;
			gap: 10px;
			align-items: center;

			img {
				width: 80px;
				height: 80px;
			}
		}

		.right {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-template-rows: auto;
			justify-self: end;
			gap: 20px;
		}
	}


	.content {
		background-color: #e2e8f0;
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 20px;
		padding: 40px 20px;

		.content-wrapper {
			display: grid;
			grid-template-rows: auto 1fr;
			gap: 10px;
		}

		.main-content {
			display: grid;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			gap: 20px;

			article {
				display: grid;
				background-color: #fff;
				padding: 20px;
				border-left: 8px solid $third-color;
				border-radius: 8px;

				p {
					color: #442626;
				}

				div {
					justify-self: end;
					i {
						padding: 10px;
						cursor: pointer;
						transition: color 0.3s ease;
					}
					i:hover {
						color: $third-color;
					}
				}
			}
		}

		.others {
			display: grid;
			gap: 10px;
			
			.announcements {
				background-color: #fff;
				padding: 30px;
				border-radius: 8px;

				p {
					color: #442626;
					margin-bottom: 20px;
				}
				.item {
					margin-bottom: 20px;
					border-bottom: 1px solid #ccc;
				}
			}

			.trends {
				display: grid;
				background-color: #fff;
				border-radius: 8px;
				padding: 20px;
				gap: 20px;

				article {
					display: grid;
					grid-template-columns: 50px auto;
					gap: 20px;
					background-color: $secondary-color;
					padding: 10px;
					border-radius: 6px;
				}
				img {
					height: 50px;
					width: 50px;
					object-fit: cover;
					border-radius: 50%;
					align-self: center;
				}

				div {
					align-self: center;
					h3, p {
						margin: 0;
					}
				}
			}
		}
		
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100%{
			opacity: 1;
		}

	}
